* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f0f0f0;
}

.calculator {
  width: 320px;
  margin: 40px auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3d58a; /* beige color */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 1px solid #999;
}

/* HEADER */
.calc-header {
  background-color: #f3d58a;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calc-header .title {
  font-size: 14px;
  color: #333;
}

.window-icons span {
  margin-left: 10px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
.header-right {
    /* border: 2px solid gray; */
    display: flex;
    gap: 20px;
}

/* MODE SECTION */
.calc-mode {
  background-color: #f3d58a;
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  align-items: center;
  border-bottom: 1px solid #b8b8b8;
}

.calc-mode p {
  font-size: 14px;
  color: #333;
}

/* DISPLAY */
.calc-display {
  background-color: #f3d58a;
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #b8b8b8;
}

.input-display {
  font-size: 28px;
  font-weight: 500;
  color: #555;
  width: 300px;
  /* min-height: 20px; */
  border: thin solid black;
  border: none;
    border-radius: 5px;

}

.output-display {
    margin-top: 20px;
    /* padding-top: 10px; */
      width: 300px;

  font-size: 28px;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 5px;
    /* border: thin solid black; */

}

/* MEMORY BUTTON ROW */
.memory-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #e6e6e6;
  padding: 6px 8px;
  border-bottom: 1px solid #ccc;
}

.memory-row button {
  flex: 1;
  margin: 2px;
  border: 1px solid #bbb;
  border-radius: 3px;
  background-color: #f8f8f8;
  color: #222;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.memory-row button:hover {
  background-color: #ddd;
}

/* MAIN BUTTONS */
.calc-buttons {
  background-color: #e6e6e6;
  padding: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.row button {
  width: 23%;
  padding: 14px 0;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 18px;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: background 0.2s;
}

.row button:hover {
  background-color: #dcdcdc;
}

/* Special Buttons */
.row button:last-child {
  background-color: #f3d58a;
  font-weight: 600;
}

.row button:last-child:hover {
  background-color: #e2c571;
}
